@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />

<div class="row">
    <a href="@Url.Action("Constructor","Home")" class="btn btn-primary form-control">
        Перейти в конструктор
    </a>
</div>
<div class="row">
    <a href="@Url.Action("Maps","Home")" class="btn btn-primary form-control">
        Карты
    </a>
</div>

<style>
    .form-control{
        margin-bottom: 25px;
    }
</style>
